name: Publish Docker image

on:
  push:
    branches:
      - main
  # release:
  #   types: [published]

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false

      - uses: docker/setup-buildx-action@v1

      - uses: docker/metadata-action@v3
        id: docker_meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: latest

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile
          pull: true
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
